{% load static %}
<!DOCTYPE html>
<html lang='pt-BR'>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" /> -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="shortcut icon" href="{% static 'img/ico.png' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
</head>
<body>
	<div class="header">
	    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
	        <a class="pure-menu-heading" href="">SIMPLE MOOC</a>
	        <ul>
				{% url 'core:homepage' as home %}
				{% url 'courses:index' as courses_index %}
				{% url 'accounts:login' as login %}
				{% url 'core:contact' as contact %}
	            <li {% if request.path == home %} class="pure-menu-selected"{%endif%}>
	                <a href="{% url 'core:homepage' %}">Início</a>
	            </li>
	            <li {% if request.path == courses_index %} class="pure-menu-selected"{%endif%}>
	            	<a href="{% url 'courses:index' %}">Cursos</a>
		        </li>
	             <li {% if request.path == login %} class="pure-menu-selected"{%endif%}>
	            	<a href="{% url 'accounts:login' %}">Entrar</a>
		        </li>
	            <li {% if request.path == contact %} class="pure-menu-selected"{%endif%}>
	            	<a href="{% url 'core:contact' %}">Contato</a>
		        </li>
	        </ul>
	    </div>
	</div>
	<div class="content">
		{% block content %}{% endblock %}
		<div class="footer">
			Simple MOOC - Uma simples plataforma de ensino a distância
		</div>	
	</div>

	<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>
</html>